if SHIELD_54EDUX_LEFT

config ZMK_KEYBOARD_NAME
	default "54edux"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_54EDUX_LEFT || SHIELD_54EDUX_RIGHT

config ZMK_SPLIT
	default y

endif

config BT=y
config ZMK_BLE=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING=y
CONFIG_ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY=y
config ZMK_SLEEP=y