#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
			bindings = <
				&kp N1    &kp N2   &kp N3   &kp N4    &kp N5    &studio_unlock			&kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp EQUAL
				&kp ESC   &kp Q    &kp W    &kp E     &kp R     &kp T 			&kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
				&kp LCTRL &kp A    &kp S    &kp D     &kp F     &kp G 			&kp H     &kp J     &kp K     &kp L     &kp SEMI  &kp SQT
				&kp LSHFT &kp Z    &kp X    &kp C     &kp V     &kp B 			&kp N     &kp M     &kp COMMA	 &kp DOT   &kp FSLH  &kp RSHFT
							       			&kp LALT  &kp SPACE &kp LGUI		&kp RGUI  &kp RET  &kp RALT 
			>;
		};
		
		numpad_layer {
			status = "reserved";
		};

		function_layer {
			status = "reserved";
		};

		symbol_layer {
			status = "reserved";
		};

		media_layer {
			status = "reserved";
		};
		
		spare_layer1 {
			status = "reserved";
		};

		spare_layer2 {
			status = "reserved";
		};
	};
};
